<%- include('includes/head.ejs', {username: username}) %>

<h2 class="title"><% if (registro) { %> ¡Conoce más sobre cámaras! <% } else { %> ¡Bienvenido! <% } %></h2>
<form action="/users/<% if (registro) { %> ¡Únete al clan! <% } else { %> ¡Bienvenido! <% } %>" method="POST">
    <label class="label" for="username">Nombre de usuario</label>
    <input class="input text" id="username" name="username">
    <label class="label" for="password">Contraseña</label>
    <input class="input text" type="password" id="password" name="password">
    <br><br>
    <input class="button is-success" type="submit" value="Entrar">
</form>

<%- include('includes/footer.ejs') %>